mixin svg(name, addClasses)
	- var svgClass = 'svg-'+name
	- var classesList = '';
	if addClasses
		each addClass in addClasses
			- classesList = classesList+' '+addClass
	- svgClass = svgClass+classesList
	svg(class= svgClass)
		use(xlink:href="#"+name)